@model string

@section Styles{
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

@{
    var title = Model == null
        ? "All Users"
        : (Model == DataConstants.AdminRole ? DataConstants.AdminRole + "s" : DataConstants.ModeratorRole + "s");

        ViewData["Title"] = title;
}

<div class="row box">
    <input type="hidden" id="role" data-id="@Model" />
    <div class="col-md-12">
        <h2 class="h-title">@title</h2>
    </div>

    <div>
        <table id="usersTable" style="width:100%" class="table table-hover table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Registered On</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
    <script src="~/js/admin/admin-users.js"></script>
}