@model VideoFormBindingModel

@{
    ViewData["Title"] = "Add Video";
}

<div class="row">
    <div class="col-md-5 align-to-logo">
        <div class="box">
            <form method="post" enctype="multipart/form-data">
                <h4>@ViewData["Title"]</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Source"></label>
                    <input asp-for="Source" class="form-control" />
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Upload Video:</label>
                    <input asp-for="File" class="form-control" accept="video/mp4" />
                    <span asp-validation-for="File" class="text-danger"></span>
                    <span class="info">Alowed formats *.mp4.</span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
        @await Html.PartialAsync("_TipsPartial", WebConstants.AddVideoTip)
    </div>
</div>

@section Scripts{ 
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        $('#nav-moderator').addClass('active');
    </script>
}