@model DownloadShortModel

<div class="col-md-4 text-center">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:;" class="view-picture" data-id="@Model.Id">
                <img src="@Model.PictureUrl" class="img-responsive download-picture-small" data-id="@Model.Id" />
            </a>
        </div>
    </div>
</div>
