<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>&copy; 2017 - Teach The Child. A MVC Web App made with ASP.NET Core for SofUni with educational purpose.</p>
            </div>
        </div>
    </div>
</footer>
