@{
    var currentAction = this.ViewContext.RouteData.Values["action"].ToString();
    var currentController = this.ViewContext.RouteData.Values["controller"].ToString();
}

<nav id="main-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img id="logo-pic" src="~/images/TeachGreyMidi.png" alt="LogoPic" class="img-responsive"/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.IsInRole(DataConstants.AdminRole))
                {
                    <li class="dropdown" id="nav-admin">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Admin
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a></li>
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-role="@DataConstants.AdminRole">Admintrators</a></li>
                            <li><a asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-role="@DataConstants.ModeratorRole">Moderators</a></li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(DataConstants.AdminRole) || User.IsInRole(DataConstants.ModeratorRole))
                {
                    <li class="dropdown" id="nav-moderator">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Manage
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="Moderator" asp-controller="Articles" asp-action="Index">Articles</a></li>
                            <li><a asp-area="Moderator" asp-controller="Books" asp-action="Index">Books</a></li>
                            <li><a asp-area="Moderator" asp-controller="Videos" asp-action="Index">Videos</a></li>
                            <li><a asp-area="Moderator" asp-controller="Downloads" asp-action="Index">Downloads</a></li>
                        </ul>
                    </li>
                }

                <li id="nav-articles"><a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a></li>
                <li id="nav-books"><a asp-area="" asp-controller="Books" asp-action="Index">Books</a></li>
                <li id="nav-videos"><a asp-area="" asp-controller="Videos" asp-action="Index">Videos</a></li>
                <li id="nav-downloads"><a asp-area="" asp-controller="Downloads" asp-action="Index">Downloads</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Lang
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" data-id="">EN</a></li>
                        <li><a href="javascript:;" data-id="">BG</a></li>
                        <li><a href="javascript:;" data-id="">ES</a></li>
                    </ul>
                </li>
            </ul>
           
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
