@model DownloadsFormBindingModel

<form asp-action="Add" method="post"
      enctype="multipart/form-data">

    <input type="file" name="File" />
    <button type="submit">Upload File</button>
</form>
