@model VideoDetailsModel

<div class="box text-center">
    <video controls autoplay src="@Model.Url">
        Your browser does not support the video tag.
    </video>
    <h6>@Model.Title</h6>   
</div>


