/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body {
    padding-top: 120px;
    color: #777;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../images/wall.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

a {
    color: #4597f4;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #7cbecc;
}

/*Navbar - custom Yulia*/
.navbar-default {
    border: none;
    background: rgba(255,255,255,0.9);
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.navbar.navbar-default {
    border: 0;
    border-radius: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar.navbar-default .navbar-toggle {
    margin-bottom: 31px;
    margin-top: 31px;
}

@media only screen and (min-width: 1200px) {
    .navbar.navbar-default {
        border: 0;
        border-radius: 0;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .navbar.navbar-default .navbar-brand {
        padding: 20px 0 0 0;
        margin-top: -40px;
        margin-right: 15px;
        max-width: 180px;
    }

    #main-menu.navbar-default {
        background: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    }

    #main-menu.navbar-default .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #main-menu.navbar-default .navbar-nav > li.active > a,
    #main-menu.navbar-default .navbar-nav > li.open > a,
    #main-menu.navbar-default .navbar-nav > li:hover > a {
        background: transparent;
        padding-bottom: 17px;
        border-bottom: 3px solid #45aed6;
    }

    #main-menu.navbar-default .dropdown-menu {
        padding: 0 20px;
        min-width: 150px;
        background-color: rgba(255,255,255,0.9);
        border: 0;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        background-clip: inherit;
    }

    #main-menu.navbar-default .dropdown-menu > li {
        border-left: 3px solid transparent;
        margin-left: -20px;
        padding-left: 17px;
        margin-right: -20px;
        padding-right: 20px;
        -webkit-transition: border-color 400ms;
        transition: border-color 400ms;
    }

    #main-menu.navbar-default .dropdown-menu > li > a {
        border-top: 1px solid #404455;
        padding: 15px 0;
    }

    #main-menu.navbar-default .dropdown-menu > li:first-child > a {
        border-top: 0;
    }

    #main-menu.navbar-default .dropdown-menu > li.active,
    #main-menu.navbar-default .dropdown-menu > li.open,
    #main-menu.navbar-default .dropdown-menu > li:hover {
        border-left-color: #45aed6;
    }

    #main-menu.navbar-default .dropdown-menu > li.active > a,
    #main-menu.navbar-default .dropdown-menu > li.open > a,
    #main-menu.navbar-default .dropdown-menu > li:hover > a {
        color: #45aed6;
        background-color: transparent;
    }

    #main-menu.navbar-default .navbar-nav > li:hover > a,
    #main-menu.navbar-default .dropdown-menu > li:hover {
        background: rgba(231,230,230,0.5);
    }

    .tips {
        font-size: 2em;
        font-weight: 900;
        font-family: Bradley Hand, cursive;
        font-stretch: ultra-expanded;
        color: #4597f4;
        margin: 30px;
        padding: 30px;
        border: 3px dashed #7cbecc;
        border-radius: 20px;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .navbar.navbar-default {
        border: 0;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .navbar.navbar-default .navbar-brand {
        padding: 0;
        max-width: 160px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
        height: auto !important;
        overflow: visible !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-nav {
        font-weight: 300;
    }

    .tips {
        font-size: 1.8em;
        font-weight: 800;
        font-family: Bradley Hand, cursive;
        font-stretch: ultra-expanded;
        color: #4597f4;
        margin: 25px;
        padding: 25px;
        border: 3px dashed #7cbecc;
        border-radius: 20px;
    }
}

@media (max-width: 990px) {
    .navbar.navbar-default {
        border: 0;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .navbar.navbar-default .navbar-brand {
        padding: 0;
        max-width: 160px;
    }

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-nav {
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tips {
        font-size: 1.6em;
        font-weight: 700;
        font-family: Bradley Hand, cursive;
        font-stretch: ultra-expanded;
        color: #4597f4;
        margin: 20px;
        padding: 20px;
        border: 3px dashed #7cbecc;
        border-radius: 20px;
    }
}

/*Box style - custom Yulia*/
.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: rgba(255,255,255,0.9);
}

@media screen and (min-width:700px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

p {
    font-size: 1.25em;
    line-height: 1.6;
}

a.blue-link {
    font-size: 0.8em;
    color: #7cbecc;
}

a.blue-link:hover {
    color: #a9f4e0;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.img-full {
    min-width: 100%;
}

footer {
    background: rgba(255,255,255,0.9);
    color: #777;
}

footer p {
    margin: 0;
    padding: 30px 0;

}

.align-to-logo {
    margin-left: -15px;
}

.alert {
    position: absolute;
    z-index: 20;
}

.alert.alert-success {
    border-color: #69ee7f;
}

.alert.alert-error {
    border-color: #e92325
}

/*Pagination datatable*/
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #7cbecc;
    border: 1px solid #7cbecc;
}

/*Buttons*/
.btn {
    border-width: 0;
    border-bottom-width: 3px;
    border-right-width: 2px;
}

.btn.btn-primary {
    background: #a9f4e0;
    border-color: #7cbecc;
    color: grey;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background: #7cbecc;

}

.h-title {
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
}

#user-details ul.user-details {
    list-style: none;
    padding: 0;
    border: 2px solid #eee;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

#user-details ul.user-details li {
    display: block;
    padding: 10px;
}

#user-details ul.user-details li.bootbox-header {
    background: #a9f4e0;
    padding: 15px;
    border: 0;
}

/*Toastr*/


/*colors : 
    aqua: #7cbecc; 
    light aqua: #a9f4e0;
    electric: #69ee7f;
    blue: #4597f4;
    light green : #a3edaa;
*/