@section Styles{
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Manage Articles";
}

<div class="row box">
    <input type="hidden" id="role" data-id="@Model" />
    <div class="col-md-12 h-title">
        <div class="col-md-10"><h2>@ViewData["Title"]</h2></div>
        <div class="col-md-2 text-right"><a asp-action="Create" class="btn btn-primary">Add New Article</a> </div>       
    </div>

    <div>
        <table id="articlesTable" style="width:100%" class="table table-hover table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Added On</th>
                    <th>Comments</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.0/moment.min.js"></script>
    <script src="~/js/moderator/manage-articles.js"></script>
}
